<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
</head>
<body>

{% if messages %}
        {% for message in messages %}
            <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
        {% endfor %}
    </ul>
{% endif %}

<form id="fileform" enctype="multipart/form-data" action="{% url 'videoPost' %}" method="POST">
    <input type="file" id="f" name="file"/>
</form>

<form id="timeform" enctype="multipart/form-data" action="{% url 'form_submit' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <br/>
    <input type="submit"/>Time It!</input>
    <h2 id="uploading"></h2>
</form>
<progress min="0" max="100" value="0">0% complete</progress>


<script type="text/javascript">
    var uploadFile;
    var startTime;

    $(':file').change(function(){
        uploadFile= this.files[0];
    });

    function upload(blobOrFile) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url 'videoPost' %}', true);
        xhr.onload = function(e) {  };

        // Listen to the upload progress.
        var progressBar = document.querySelector('progress');
        xhr.upload.onprogress = function(e) {
            if (e.lengthComputable) {
                progressBar.value = (e.loaded / e.total) * 100;
                progressBar.textContent = progressBar.value; // Fallback for unsupported browsers.
            }
        };

        xhr.send(blobOrFile);
    }

    function sendFile(){
        var form = $('#fileform').get(0);
        var formData = new FormData(form);
        var file = $('#f').get(0).files[0];
        $('#uploading').text('Uploading please wait...');

        $('#id_size').val(file.size);
        var xhr = new XMLHttpRequest();
        formData.append('myfile', file);
        xhr.open('POST', '{% url 'videoPost' %}', true);
        // Listen to the upload progress.
{#        var progressBar = document.querySelector('progress');#}
{#        xhr.upload.onprogress = function(e) {#}
{#            if (e.lengthComputable) {#}
{#                progressBar.value = (e.loaded / e.total) * 100;#}
{#                progressBar.textContent = progressBar.value; // Fallback for unsupported browsers.#}
{#            }#}
{#        };#}

        xhr.upload.onprogress = function(evt)
        {
            if (evt.lengthComputable)
            {
                var percentComplete = parseInt((evt.loaded / evt.total) * 100);
                console.log("Upload: " + percentComplete + "% complete")
            }
        };
        startTime = Date.now();

        xhr.onreadystatechange = function(){
                            if (this.readyState == 4){
                                if(( this.status >=200 && this.status < 300 ) || this.status == 304){
                                    $('#id_time').val((Date.now() - startTime)/1000);
                                    $('#timeform').submit();
                                }
                            }
                        }

        xhr.send(formData);

    }

        $('input[type=submit]').click(function(e) {
            e.preventDefault();

            sendFile();
{#            upload(uploadFile);#}
{#            var xhr = new XMLHttpRequest();#}
{#            xhr.open('POST', '{% url 'videoPost' %}', true);#}
{#            xhr.setRequestHeader('accept', 'application/json');#}
{#            xhr.setRequestHeader('access-control-allow-origin', '*');#}
{#            xhr.setRequestHeader('content-type', 'video/mp4');#}
{#            starTime = Date.now();#}
{#            var formData = new FormData();#}
{#            formData.append("thefile", uploadFile);#}
{#            xhr.send(formData);#}
{#            xhr.onreadystatechange = function(){#}
{#                if (this.readyState == 4){#}
{#                    if(( this.status >=200 && this.status < 300 ) || this.status == 304){#}
{#                        $('#id_time').val((Date.now() - startTime)/1000);#}
{#                        $('#timeform').submit();#}
{#                    }#}
{#                }#}
{#            }#}
        });

</script>
</body>
</html>